.ant-layout {
    background-color: #dfe2ff;
}

.ant-layout-header,
.ant-menu {
    font-weight: bold;
    background: rgb(37, 48, 58);
    padding: 0;
    color: #edf6f9;
}
.ant-menu-submenu-selected,
.ant-menu-submenu-selected::after,
.ant-menu-submenu-selected::after,
.ant-menu-light> {
    color: #edf6f9;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after {
    border-bottom-color: rgb(37, 48, 58);
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu:hover::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu:hover::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-active::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-active::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-active::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-active::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-open::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-open::after,
.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-open::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-open::after {
    border-bottom-color: rgb(37, 48, 58);

}
.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover,
.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover {
    color: #6b8dcb;
}